.home{
    width: 80%;
    margin: 20px auto;
    /* display:flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    background-color: rgb(238, 164, 26);
    border-radius:5px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    @media screen and (max-width: 768px) {
        display: none;
      }
}

.cards{
    width: 250px;
    height:300px;
    border:1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin:40px 20px;
    background-color: white;
}
.product-image img{
    width:100%;
    max-width: 200px;
    min-height: 80px;
    display: block;
    object-fit: cover;
}

.details h2{
    text-transform: uppercase;
    font-weight: bold;
    margin:10px 0px;
}
.details p{
    margin:10px 0px;
        color: rgb(192, 125, 125);
    font-size: 18px;
    line-height: 15px;
}

.details button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color:black;
    color:white;
    width:100%;
    font-size:15px;
    outline: none;
    border-radius: 5px;
    height:30px;
    display:block;
    margin:10px auto;

} 
.details button:hover{
    background-color: brown;
}