.App {
  text-align: center;
}

.home{
  margin:20px auto;
  width:80%;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  background-color: orange;
  justify-content: space-around;

  
  }
  .card{
    width:200px;
    height:300px;
    border-radius: 5px;
    overflow: hidden;
    padding:10px;
    margin:40px 20px;
    background-color: white;
  }
  .product-image{
    width:100%;
    max-width: 400px;
    min-height: 200px;
    display:block;
    object-fit: cover;
    
  }

